In [1]:
import pandas as pd
df = pd.read_csv('world.csv')
df1 = df[['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數']]
df1

        洲名   國家          日期    總確診數  新增確診數      總人口數     解封指數
0       亞洲  阿富汗  2020-02-24       5      5  39835428  99999.0
1       亞洲  阿富汗  2020-02-25       5      0  39835428  99999.0
2       亞洲  阿富汗  2020-02-26       5      0  39835428  99999.0
3       亞洲  阿富汗  2020-02-27       5      0  39835428  99999.0
4       亞洲  阿富汗  2020-02-28       5      0  39835428  99999.0
...     ..  ...         ...     ...    ...       ...      ...
187880  非洲  辛巴威  2022-07-02  255586      0  15092171  99999.0
187881  非洲  辛巴威  2022-07-03  255586      0  15092171  99999.0
187882  非洲  辛巴威  2022-07-04  255726    140  15092171  99999.0
187883  非洲  辛巴威  2022-07-05  255755     29  15092171  99999.0
187884  非洲  辛巴威  2022-07-06  255805     50  15092171  99999.0

[187885 rows x 7 columns]

In [ ]:
taiwan = df1.query('國家=="台灣"')
taiwan

In [ ]:
taiwan.query('日期>="2020-01-16" and 日期<="2020-12-31"')

In [ ]:
country = input("請輸入國家")
country_df = df1.query('國家==@country')  #字串裡面放的是變數要多一個@
_2021_country = country_df.query('日期 >= "2021-01-01" and 日期<="2021-12-31"')
median = int(_2021_country['新增確診數'].median())
_2021_country.query('新增確診數>@median')

       洲名  國家          日期     總確診數  新增確診數       總人口數      解封指數
85971  亞洲  日本  2021-01-01   239005   3256  126050796      0.25
85972  亞洲  日本  2021-01-02   242076   3071  126050796      0.25
85973  亞洲  日本  2021-01-03   245242   3166  126050796      0.26
85974  亞洲  日本  2021-01-04   248585   3343  126050796      0.26
85975  亞洲  日本  2021-01-05   253534   4949  126050796      0.27
...    ..  ..         ...      ...    ...        ...       ...
86235  亞洲  日本  2021-09-22  1688142   3243  126050796  99999.00
86236  亞洲  日本  2021-09-23  1691743   3601  126050796  99999.00
86237  亞洲  日本  2021-09-24  1693838   2095  126050796  99999.00
86238  亞洲  日本  2021-09-25  1696508   2670  126050796  99999.00
86239  亞洲  日本  2021-09-26  1698644   2136  126050796  99999.00

[182 rows x 7 columns]

In [5]:
import pandas as pd
df = pd.read_csv('world.csv')
df1 = df[['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數']]
country = input("請輸入國家")
country_df = df1.query('國家==@country') 
country_max = int(country_df['新增確診數'].max())
print(f"{country}的最大新增確診數為：{country_max}")
country_df.query('新增確診數 == @max')

日本的最大新增確診數為：104345

       洲名  國家          日期     總確診數   新增確診數       總人口數     解封指數
86369  亞洲  日本  2022-02-03  3019169  104345  126050796  99999.0