In [ ]:
import pandas as pd

df1 = pd.read_csv('new各鄉鎮市區人口密度.csv')
display(df1)
def format1(value:int):
    return f"第{value}號"
#視覺化precision = 2到小數點後2位 thousands=',' 一千的位置多一個, decimal='.' 小數點顯示的符號為. #\是接續下一行
df1.style\
.format(precision=2,thousands=',',decimal='.')\
.format_index(format1)

In [ ]:
import pandas as pd

df1 = pd.read_csv('new各鄉鎮市區人口密度.csv')
display(df1)
# def format1(value:int)->str:                 因為只有一行所以可以用lamda來取代  lamda是匿名的function
#     return f"第{value}號"     

#視覺化precision = 2到小數點後2位 thousands=',' 一千的位置多一個, decimal='.' 小數點顯示的符號為. #\是接續下一行
df1.style\
.format(precision=2,thousands=',',decimal='.')\
.format_index(lambda value:f'第{value}號')

In [ ]:
import numpy as np
#np.random.rand(10, 2) * 5 會生成一個 10 行 2 列的二維陣列，陣列中的每個值都是從 0 到 5 之間的隨機浮點數（不包含 5）
weather_df = pd.DataFrame(np.random.rand(10,2)*5,       #
                          index=pd.date_range(start="2021-01-01", periods=10),
                          columns=["Tokyo", "Taipei"])
weather_df

               Tokyo    Taipei
2021-01-01  1.157094  0.746563
2021-01-02  2.714309  3.135015
2021-01-03  2.911302  0.908738
2021-01-04  0.393882  1.756377
2021-01-05  4.002572  4.663602
2021-01-06  3.785634  1.609470
2021-01-07  3.550281  3.510208
2021-01-08  3.267790  1.470901
2021-01-09  0.948060  4.860110
2021-01-10  1.970435  2.652754

In [ ]:
#視覺的顯示
weather_df.style\
.set_caption('Weather Conditions')\
.format_index(lambda v:v.strftime("%A"))\
.background_gradient(cmap='GnBu',vmin=1,vmax=5)  
# 查顏色 cmap代表色彩图 https://matplotlib.org/stable/gallery/color/colormap_reference.html

In [24]:
weather_df.index

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10'],
              dtype='datetime64[ns]', freq='D')